## Files and folders in .gitignore are not tracked by Git

# Visual Studio/VS Code Files
.vs/ 
.vscode/ 
*.code-workspace

# Binaries
/bin

# Export location
/export

# Data directory
/data

# Remembered headers file
/config/RememberedHeaders.txt
